.main-product-page-container {
  padding-top: 4rem;
}

.section-page-container span {
  display: flex;
  padding-top: 2rem;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 2%;
}

.section-page-container span a {
  color: #a65c41;
  text-decoration: none;
}

.paragraph-search-filter-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  padding-right: 5px;
  padding-left: 5px;
  align-items: flex-end;
}

.product-section-filter {
  font-family: "Ms Madi", cursive;
  font-size: 20px;
  color: var(--Quinary);
  letter-spacing: 2px;
  font-weight: 200;
  text-align: left;
}

.form-search-bar input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #887155;
}

.form-search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.26);
  font-size: 16px;
  text-align: center;
  opacity: 70%;
  letter-spacing: 2px;
}

.buttons-filter {
  display: flex;
  gap: 2.5rem;
  position: relative;
}

.text-search-bar {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buttons-filter button {
  padding: 0.8rem;
  width: 12.5rem;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #a65c41;

  box-shadow: 0px 4px 4px 0px #a65c41;
  color: #cda691;
}

.buttons-filter button:hover {
  background-color: #a65c41;
  transition: 0.5s ease all;
  cursor: pointer;
}

.product-page-container {
  display: flex;
  gap: 2rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  display: flex;
  width: 253px;
  height: 339px;
  border-radius: 8px;
  background: #cda691;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-card h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #fff;
}

.product-card img {
  width: 90%;
  height: 90%;
}

.product-card button {
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 8px;
  background: #978062;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.buttons-page-container {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.checkbox-category-clicked {
  background-color: #a65c41;
}

.button-filter-category-deployer {
  position: relative;
}

.buttons-page-container button {
  width: 40px;
  height: 40px;
  color: #cda691;
  border-radius: 4px;
  border: 1px solid #a65c41;
  background: #eee7de;
  box-shadow: 0 4px 4px #6b4f30;
}

.buttons-page-container button:hover {
  background-color: #a65c41;
  transition: 0.5s ease all;
  cursor: pointer;
}

.filter-category-ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 43px;
  left: 0;
  background-color: #eee7de;
  width: 200px;
  border-radius: 0px 0px 8px 8px;
  transition: height 0.4s, transform 0.4s;
  transform-origin: top;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  transform: scaleY(1);
  color: #887155;
  border: 2px solid #a65c41;
}

.filter-category-ul-hidden {
  transform: scaleY(0);
}

.close-filter-category {
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  color: red;
}

.p-and-svg-category {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  cursor: pointer;
}

.svg-arrow-category {
  width: 23px;
  height: 23px;
  transition: 0.25s ease all;
}

.svg-arrow-category-rotate {
  transform: rotate(180deg);
  transition: 0.25s ease all;
}

.category-section {
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  border-bottom: 2px solid grey;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.checkbox-container-category {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0rem 1rem 0;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem;
  max-height: 1000px;
  transform-origin: top;
  transform: scaleY(1);
  transition: height 0.4s, transform 0.4s;
  transition: 0.4s ease all;
  letter-spacing: 2px;
  flex-direction: column;

  letter-spacing: 2px;
}

.checkbox-container-category li {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.p-name-category {
  cursor: pointer;
}

.checkbox-container-category-hidden {
  padding: 0;
  visibility: hidden;
  max-height: 0;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  transform: scaleY(0);
}

.category-section li {
  display: flex;
  gap: 0.5rem;
}

.checkbox-category {
  width: 15px;
  height: 15px;
  border: 2px solid #cda691;
  border-radius: 3px;
}

.dimensions-section {
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  border-bottom: 2px solid grey;
  position: relative;
  flex-direction: column;
}
.color-section {
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  border-bottom: 2px solid grey;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.filter-order-ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 43px;
  left: 240px;
  width: 200px;
  list-style: none;
  background-color: #eee7de;
  border: 2px solid #a65c41;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  transform: scaleY(1);
  transition: height 0.4s, transform 0.4s;
  transform-origin: top;
  z-index: 1;
}

.filter-order-ul-hidden {
  transform: scaleY(0);
}

.filter-order-ul li {
  list-style-type: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  color: #887155;
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
  max-width: 30ch;
  border-bottom: 2px solid grey;
}

@media screen and (max-width: 720px) {
  .paragraph-search-filter-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .buttons-filter {
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttons-page-container {
    flex-wrap: wrap;
    max-width: 95%;
    margin: 0 auto;
  }

  .product-page-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 451px) {
  .filter-category-ul {
    left: auto;
    z-index: 10;
  }

  .filter-order-ul {
    top: 126px;
    left: auto;
  }
}
