.about-section-right {
  background-color: var(--Senary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  flex-direction: column-reverse;
}

.h2-about-section {
  font-family: "Ms Madi", cursive;
  font-size: 20px;
  color: var(--Quinary);
  letter-spacing: 2px;
  font-weight: 200;
  text-align: left;

  width: 100%;
}

.image-text-about {
  position: relative;
}

.p-text-image-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  padding: 0.8rem 1rem 0.8rem 1rem;
  color: #e4d8c9;
  font-weight: bold;
  border-radius: 4px;
  background-color: #a65c41;
}

.p-text-image-about:hover {
  background-color: #e4d8c9;
  color: #a65c41;
  transition: all 0.8s ease;
  cursor: pointer;
}

.about-section-left img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 25px 26px 15px -3px rgba(0, 0, 0, 0.1);
  filter: brightness(0.5);
}

.about-section-right img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 25px 26px 15px -3px rgba(0, 0, 0, 0.1);
  filter: brightness(0.5);
}

.paragraph-about-section {
  color: var(--Quinary);
  font-family: "Josefin Sans", sans-serif;
  max-width: 40ch;
  letter-spacing: 2px;
}

.button-about-section {
  background: #a65c41;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: max-content;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
  min-width: 60%;
  max-width: 80%;
}

.image-work-mobile {
  margin-top: 2rem;
  height: 200px;
  width: 200px;
}
.image-work-destokp {
  margin-top: 2rem;
  height: 200px;
  width: 200px;
}

.about-section-left {
  background-color: #a65c41;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-section-left :nth-child(1) {
  margin-top: 2rem;
}

.about-section-left :nth-child(2) {
  margin-bottom: 2rem;
}

.image-container-about {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 90%;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2rem;
  padding-bottom: 2rem;
}

.image-about {
  width: 145px;
  height: 286px;
  object-fit: cover;
  box-shadow: 8px 9px 4px 0px rgba(0, 0, 0, 0.25);
  flex-basis: 0.5;
  border-radius: 4px;
}

.image-work-destokp {
  display: none;
}

.images-about-destokp {
  display: none;
}

.image-about-container {
  display: flex;
}

.p-h4-button-about p {
  color: var(--Quinary);
  font-family: "Josefin Sans", sans-serif;
  max-width: 40ch;
  letter-spacing: 1px;
}

.p-h4-button-about button {
  background-color: #a65c41;
  width: max-content;
  color: #e4d8c9;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 4px;
  width: 150px;
  z-index: 1;
}

.p-h4-button-about button:hover {
  background-color: var(--Quartiary);
  color: #a65c41;
  transition: all 0.8s ease;
  cursor: pointer;
}

.p-h4-button-about h4 {
  font-family: "Ms Madi", cursive;
  color: #846e53;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 200px;
  text-align: left;
}

.p-h4-button-about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  align-items: flex-start;
}

.about-section-container {
  background: linear-gradient(to right, #a65c41 50%, #e4d8c9 50%);
}

@media screen and (min-width: 720px) {
  .test h2 {
    font-size: 23px;
  }

  .test p {
    font-size: 20px;
  }

  .about-section-container {
    display: flex;

    flex-direction: row-reverse;
  }

  .about-section-left img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 25px 26px 15px -3px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5);
    margin-top: 0;
  }

  .about-section-right img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 25px 26px 15px -3px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5);
  }
  .about-section-right {
    width: 50%;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;
    background-color: transparent;
    flex-direction: column;
  }

  .about-section-left {
    width: 50%;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;

    background-color: transparent;
  }

  .about-section-right {
    height: 100%;
    width: 50%;
    background-color: transparent;
    justify-content: flex-start;
  }

  .image-container-about {
    display: flex;
    gap: 3.5rem;
    align-items: flex-end;
    padding-bottom: 3rem;
  }

  .about-section-left :nth-child(1) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  .about-section-container {
    display: flex;

    flex-direction: row-reverse;
    background: linear-gradient(to right, #a65c41 50%, #e4d8c9 50%);
  }

  .test h2 {
    font-size: 20px;
  }

  .test p {
    font-size: 16px;
  }

  .about-section-left {
    width: 50%;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;

    background-color: transparent;
  }

  .about-section-left :nth-child(1) {
    margin-top: 0;
  }

  .about-section-right {
    height: 100%;
    width: 50%;
    background-color: transparent;
    justify-content: flex-start;
  }

  .image-container-about {
    display: flex;
    gap: 3.5rem;
    align-items: flex-end;
    padding-bottom: 3rem;
  }

  .about-section-left img {
    height: 300px;
    width: 300px;
  }

  .about-section-right img {
    height: 300px;
    width: 300px;
  }

  .image-container-about :nth-child(1) {
    height: 171px;
  }

  .image-container-about :nth-child(2) {
    height: 220px;
  }

  /* 
    .image-container-about :nth-child(1){
      display: none;
      }
      .image-container-about :nth-child(2){
        display: none;
        } */
  .image-container-about :nth-child(3) {
    display: none;
  }
  .image-container-about :nth-child(4) {
    display: none;
  }

  .test {
    align-items: flex-start;
    margin-top: 3rem;
  }

  .images-about-destokp {
    display: flex;
    gap: 3.5rem;
    align-items: flex-end;
    margin-bottom: 3rem;
  }

  .images-about-destokp :nth-child(1) {
    height: 251px;
  }
  .images-about-destokp :nth-child(2) {
    height: 350px;
  }

  .image-work-mobile {
    margin-top: 3rem;
    height: 300px;
    width: 301px;
  }

  .p-h4-button-about {
    height: 300px;
  }
}
