.main-container-about-page {
  padding-top: 4rem;
}

.main-container-about-page h2 {
  font-family: "Ms Madi", cursive;
  font-size: 20px;
  color: var(--Quinary);
  letter-spacing: 2px;
  font-weight: 200;
  text-align: left;
}

.main-container-about-page p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #887155;
}

.about-page-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-text-about-page {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.container-text-about-page article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-text-about-page h2 {
  margin-left: -4%;
}

.container-text-about-page p {
  max-width: 60ch;
  letter-spacing: 1px;
}

.about-page-container span {
  display: flex;
  padding-top: 2rem;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 2%;
}

.about-page-container span > a {
  color: #a65c41;
  text-decoration: none;
}

.line-separator {
  width: 22px;
  height: 1px;
  background-color: #887155;
}

.container-about-page {
  display: flex;

  flex-direction: column;
  gap: 1.5rem;
}

.container-contact-about-page {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.5rem;
}

.svg-about-page {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -73px;
  bottom: -13px;
}

.container-contact-about-page ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  color: #a65c41;
}

@media screen and (max-width: 720px) {
  .container-contact-about-page {
    position: static;
    flex-direction: column;
    gap: 0;
  }

  .svg-about-page {
    position: relative;
    left: -45px;
    bottom: 6px;
  }

  .p-h4-button-about {
    align-items: center;
  }
}
