Header {
  position: fixed;
  width: 100vw;
  height: 5rem;
  z-index: 2;
}

.nav-mobile-container {
  position: relative;
  padding: 0 2rem 0rem 2rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

.kimey-logo {
  width: 120px;
  height: 40px;
}

.nav-mobile-logo {
  fill: #ab9c85;
  z-index: 1;
}

.nav-mobile-deploy-hidden {
  list-style: none;
  position: fixed;
  top: 0px;
  right: -103%;
  display: flex;
  padding-top: 5rem;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: #e4d8c9;
  transition: all 0.5s;
}

.nav-mobile-deploy {
  list-style: none;
  position: fixed;
  top: 0px;
  right: 0;
  display: flex;
  padding-top: 5rem;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: #e4d8c9;
  transition: all 0.5s;

  .nav-mobile-logo {
    fill: red;
  }
}

.nav-mobile-container li {
  outline: 1px solid #a65c41;
  padding: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: var(--Quinary);
}

.nav-mobile-container li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--Quinary);
}

.nav-mobile-deploy li:hover {
  background-color: #ab9c85;
}

.nav-destokp-container {
  display: none;
}

@media screen and (min-width: 1000px) {
  .nav-mobile-container {
    display: none;
  }

  .nav-destokp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 0rem 2rem;
    width: 100%;
    height: 100%;
  }

  .nav-destokp-container ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    background-color: #ab9c85;
    padding: 1rem;
    border-radius: 8px;
  }

  .nav-destokp-container li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    color: #ffff;
    z-index: 1;
    cursor: pointer;
  }

  .nav-mobile-deploy a {
    text-decoration: none;
    color: var(--Quinary);
  }

  .nav-destokp-container a {
    text-decoration: none;
    color: #e4d8c9;
  }

  .nav-destokp-container a:hover {
    color: #a65c41;
    transition: 0.5s ease all;
  }

  .nav-mobile-deploy-hidden a {
    text-decoration: none;
    color: var(--Quinary);
  }
}
